h1{
    box-shadow: 5px 6px 7px aquamarine;
    color: blanchedalmond; 
}
ol > li{
    font-weight: bold  
}
ol li:hover{
    color:orangered
}
ol li:nth-child(2) {
    background-color: cornflowerblue;
}
ol li::before{
    content:"🍩"
}
/* this does not work just works for anchor tags */
a::after{
    content:🌄
}